.places__paragraph {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 26px;
}

@media all and (max-width: 507px) {
    .places__paragraph {
        width: 90%;
    }
}