.places__paragraph {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 26px;
}

@media all and (max-width: 520px) {
    .places__paragraph {
        margin: 0 16px;
    }
}