.places {
    max-width: 984px;
    margin: 92px auto;
}

@media screen and (max-width: 1024px) {
    .places {
        width: calc(100% - 96px);
        padding: 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        width: calc(100% - 48px);
        padding: 0 24px;
        margin: 88px 0;
    }
}

@media all and (max-width: 507px) {
    .places {
        width: calc(100% - 32px);
        padding: 0 16px;
        margin: 64px 0;
    }
}