.intro__list {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
    max-width: 690px;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
}

@media all and (max-width: 507px) {
    .intro__list {
        width: calc(100% - 32px);
        padding-left: 16px;
    }
}