.lead {
    width: 100%;
    margin: 56px auto 0;
    justify-content: center;
}

@media all and (max-width: 1024px) {
    .lead {
        width: calc(100% - 96px);
        margin: 48px auto 0;
    }
}

@media all and (max-width: 768px) {
    .lead {
        width: 100%;
    }
}

@media all and (max-width: 507px) {
    .lead {
        width: 100%;
    }
}