.lead__title {
    margin: 0 auto;
    text-align: center;
    width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
}


@media all and (max-width: 507px) {
    .lead__title {
        max-width: 90%;
        font-size: 62px;
        line-height: 104%;    
    }
}

@media all and (max-width: 320px) {
    .lead__title {
        max-width: 90%;
        font-size: 40px;
        line-height: 110%;    
    }
}