.intro__text {
    margin: 40px 0 33px;
    text-align: left;
    max-width: 690px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}


@media all and (max-width: 414px) {
    .intro__text {
        width: 90%;
    }
}