.intro__text {
    margin: 40px 0 33px;
    text-align: left;
    max-width: 690px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}


@media all and (max-width: 507px) {
    .intro__text {
        width: calc(100% - 32px);
        padding-left: 16px;
    }
}