.cover__opacity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 1184px;
    min-height: 740px;
    text-decoration: none;
    color: #fff;
    gap: 32px;
    position: relative;
}

@media all and (max-width: 1024px) {
    .cover__opacity {
        width: 100%;
        min-height: 640px;
    }
}

@media all and (max-width: 768px) {
    .cover__opacity {
        min-height: 480px;
    }
}

@media all and (max-width: 507px) {
    .cover__opacity {
        min-height: 300px;
        gap: 16px;
    }
}

@media all and (max-width: 320px) {
    .cover__opacity {
        min-height: 200px;
    }
}