.cover__opacity {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    background-color: rgba(42,44,47, 0.3);
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    gap: 32px;
}

@media all and (max-width: 1024px) {
    .cover__opacity{
        width: 100%;    
    }
}

@media all and (max-width: 768px) {
    .cover__opacity{
        width: 100%;
    }
}

@media all and (max-width: 320px) {
    .cover__opacity{
        width: 100%;
        gap: 16px;  
    }
}

.cover__opacity:hover {
    background-color: rgba(42,44,47, 0.8);
}