.cover__title {
    margin: 0 auto;
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
}

@media all and (max-width: 714px) {
    .cover__title {
        width: calc(100% - 32px);
        font-size: 64px;
        line-height: 109%;
    }
}

@media all and (max-width: 470px) {
    .cover__title {
        font-size: 32px;
    }
}