.footer {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
@media all and (max-width: 768px) {
    .footer{
        max-width: 100%;
        margin: 0 24px;
    }
}

@media all and (max-width: 507px) {
    .footer{
        width: 100%;
        flex-direction: column;
        gap: 48px;
        margin: 0 16px;
    }
}


@media all and (max-width: 320px) {
    .footer{
        width: 100%;
        flex-direction: column;
        gap: 48px;
        margin: 0 16px;
    }
}

