.footer {
    display: flex;
    max-height: 18px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
@media (max-width: 768px) {
    .footer{
        max-width: 720px; 
        margin: 0 auto;
    }
}

@media (max-width: 320px) {
    .footer{
        max-width: 288px;
        margin: 0 auto;
        flex-direction: column;
        gap: 48px;
    }
}

