.intro__title {
    max-width: 690px;
    text-align: left;
    margin: 0;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
}

@media all and (max-width: 507px) {
    .intro__title {
        width: calc(100% - 32px);
        padding-left: 16px;
        font-size: 32px;
        line-height: 109%;
    }
}